.no-click {pointer-events: none;}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: 22; */
}

video {
    width: 100%;
    height: 100%;
    background-color: black;
}